<mat-toolbar color="primary">
   <span class="fill-remaining-space">My Reactive Form with Material</span>
 </mat-toolbar>

<div class="container">
   <form [formGroup]="employeeForm" class="form"  (ngSubmit)="onSubmit()">
      <mat-form-field class="form-element">
         <input matInput placeholder="FullName" formControlName="fullName">
      </mat-form-field>
      <mat-form-field class="form-element">
         <input matInput placeholder="Emailaddress" formControlName="email">
      </mat-form-field>
      <div formGroupName="skills">
         <mat-form-field class="form-element">
            <input matInput placeholder="SkillName" formControlName="skillName">
         </mat-form-field>
         <mat-form-field class="form-element">
            <input matInput placeholder="SkillName" formControlName="skillName">
         </mat-form-field>
         <mat-form-field class="form-element">
            <input matInput placeholder="Proficiency" formControlName="proficiency">
         </mat-form-field>
      </div>
      <button mat-raised-button type="submit" color="primary">LOGIN</button>
   </form>
</div>